# Виртуальное окружение
venv/
.venv/
env/
.env/

# База данных
db.sqlite3
*.sqlite3

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
media/
staticfiles/